
.mainContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #12c2e9; 
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  
}
/* .admin{
  
  background: #12c2e9; 
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
 
} */
@media screen and (max-width: 854px) {
  .Label{
    font-size: 0.5rem;
  }
}




.mb-3{
  
  width: 45vw;
  
  margin-bottom: 15rem;
  
}

.form{
  margin-top: 2rem;
  

}

.Label{
font-size:1rem
}

.button {
border-radius: 4px;
background-color: rgb(66, 157, 163);
border: none;
color: #FFFFFF;
text-align: center;
font-size: 15px;
padding: 8px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}




